.quadrinhos {
  & {
    margin-top: 150px;
    width: 100%;
    float: left;
  }
  .titulo {
    padding: 15px 0;
    border-bottom: 3px solid red;
    margin-bottom: 15px;
  }
  .quadrinho {
    .conteudo {
      box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.5);
      cursor: pointer;

      &:hover {
        box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 1);
        cursor: pointer;
      }
      h5 {
        padding: 5px;
        border: 1px solid #000;
        min-height: 90px;
        margin-bottom: 15px;
      }
    }
    img {
      min-height: 372px;
      box-shadow: 0px 3px 9px 1px rgba(255, 254, 254, 0.5);
    }
    .descricao {
      div {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      span {
        font-weight: bold;
      }
      .criador {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }
}
.quadrinho-detalhe {
  & {
    margin-top: 150px;
    background-color: #000;
    padding: 15px 0;
    min-height: 800px;
    color: #fff;
    font-size: 18px;
  }
  .titulo {
    padding: 15px 0;
    border-bottom: 3px solid red;
    margin-bottom: 15px;
  }
  img {
    box-shadow: 0px 3px 9px 1px rgba(255, 254, 254, 0.5);
  }
  .descricao {
    div {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    span {
      font-weight: bold;
    }
    .criador {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}
