.personagens {
  & {
    margin-top: 170px;
  }
  .titulo {
    font-size: 26px;
    padding: 15px 0;
    border-bottom: 3px solid red;
    margin-bottom: 15px;
  }
  .conteudo {
    & {
      width: 100%;
      height: 255px;
      float: left;
      overflow: hidden;
      position: relative;
      box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.5);
      margin-bottom: 25px;
    }
    & > img {
      width: 100%;
      height: 255px;
      border-radius: 2px;
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:hover {
      & > img {
        transform: scale(1.5);
      }
      & .retina {
        opacity: 1;
        box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.5);
      }
    }
    .retina {
      & {
        position: absolute;
        width: 100%;
        height: 255px;
        top: 0;
        left: 0;
        opacity: 0;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        text-align: center;
        transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
      }
      p {
        color: #fff;
        font-size: 28px;
        font-weight: bold;
      }
      a span {
        background-color: #f0141e;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        padding: 5px 15px;
        cursor: pointer;
      }
    }
  }
}

.form-control {
  float: left;
  margin-right: 5px;
}

.requisicoes {
  & {
    margin-bottom: 5px;
  }
  form {
    padding-top: 30px;
  }
  .jumbotron {
    padding: 2rem 2rem;
  }
}
