<div class="personagens">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="titulo">
          <h1>Personagens</h1>
        </div>
      </div>
    </div>

    <div class="requisicoes row">
      <div class="col-sm-6">
        <form #form (ngSubmit)="submit(form)" novalidate>
          <div class="form-group">
            <input type="text" class="form-control col-sm-8" name="textoPesquisa" placeholder="Buscar personagem pelo nome.." [(ngModel)]="textoPesquisa">
            <button type="submit" class="btn btn-primary ">Buscar</button>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <app-paginacao (alterarPaginacao)="alterarPaginacao($event)" [paginacao]="paginacaoService.paginacao" [totalRegistros]="paginacaoService.totalRegistros" [totalDePaginas]="paginacaoService.totalDePaginas">
        </app-paginacao>
      </div>
    </div>

    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-4" *ngFor="let personagem of personagens">
          <div class="personagem ">
            <div class="conteudo">
              <img [src]="personagem.urlImagem" class="img-fluid" />
              <div class="retina">
                <p>{{ personagem.name }}</p>
                <a>
                  <span (click)="visualizarPaginaPersonagemDetalhes(personagem.id)">Veja mais</span>
                </a>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
