.personagens{
  margin-top: 170px;
}

.personagens .titulo{
  font-size: 26px;
  padding: 15px 0;
  border-bottom: 3px solid red;
  margin-bottom: 15px;
}

.personagens .personagem .conteudo{
  width: 100%;
  height: 255px;
  float: left;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}

.personagens .personagem .conteudo > img {
  width: 100%;
  height: 255px;
  border-radius: 2px;
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.personagens .personagem .conteudo:hover > img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

.personagens .personagem .conteudo .retina {
  position: absolute;
  width: 100%;
  height: 255px;
  top: 0;
  left: 0;
  opacity: 0;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  text-align: center;
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.personagens .personagem .conteudo:hover .retina {
  opacity: 1;
  box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}

.personagens .personagem .conteudo .retina p{
  color: #FFF;
  font-size: 36px;
  font-weight: bold;
}

.personagens .personagem .conteudo .retina a span{
 background-color: #f0141e;
 color: #FFF;
 font-size: 18px;
 font-weight: bold;
 padding: 5px 15px;
 cursor: pointer;
}
