
<div class="personagens">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="titulo"><h1>Personagens</h1></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" *ngFor="let personagem of personagens">
          <div  class="personagem " >
            <div class="conteudo">
              <img [src]="personagem.thumbnail.path +'.'+ personagem.thumbnail.extension"  class="img-fluid" />
              <div class="retina">
                <p>{{ personagem.name }}</p>
                <a ><span (click)="navigate('personagem', personagem.id)" >Veja mais</span></a>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
