.App-header {
  display: flex;
  color: #ffffff;
  background-color: #202020;
  font-family: 'TradeGhoticBold', Arial, Helvetica, sans-serif;

  > div {
    flex: 1;
  }

  > a {
    height: 130px;
  }

  hgroup {
    padding-left: 10px;
  }

  .App-logo {
    height: 130px;
  }

}

.App-navbar {

  ul {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0;
  }

  li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 5px 10px;
      color: #ffffff;
      text-decoration: none;
      line-height: 25px;

      &:hover {
        color: #f0f0f0;
        background-color: #404040;
      }

      &.selected {
        border-bottom: 3px solid red;
      }
    }
  }
}
