.App-header {
  padding: 10px 10px 5px 10px;
  color: #ffffff;
  background-color: #202020;
}

.App-navbar ul {
  list-style: none;
  padding-left: 0;
}

.App-navbar li {
  display: inline-block;
}

.App-navbar li a {
  display: inline-block;
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
  line-height: 25px;
}

.App-navbar li a:hover {
  color: #f0f0f0;
  background-color: #404040;
}
