.App {
  height: 100%;
}

.App-content {
  height: 100%;
}

.App-header {
  display: flex;
  padding: 0 50px;
  color: #ffffff;
  background-color: #f0141e;

  > div {
    flex: 1;
  }

  > a {
    display: inline-block;
    padding: 15px;
  }

  hgroup {
    display: none;
  }


  .App-logo {
    height: 60px;
  }

}

.App-navbar {

  ul {
    list-style: none;
    padding-left: 10px;
    margin: 20px 10px;
  }

  li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 5px 10px;
      color: #ffffff;
      text-decoration: none;
      line-height: 35px;
      font-size: 20px;
      border: 3px solid transparent;

      &:hover {
        background-color: #d0141e
      }

      &.selected {
        border-bottom: 3px solid #202020;
      }
    }
  }
}
