@import "../../../assets/scss/quadrinho";


.quadrinhos{
  margin-top: 170px;
}

.quadrinho{
  margin-top: 5px;
  margin-bottom: 5px;
  &{
    .conteudo{
      box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.5);
    }
    &{
      H6{
        padding: 15px;
      }
    }
  }
}

.titulo{
  padding: 15px 0;
  border-bottom: 3px solid red;
  margin-bottom: 15px;
}
.form-control {
  float: left;
  margin-right: 5px;
}
.requisicoes{
  margin-bottom: 5px;
  &{
    form{
      padding-top: 30px;
    }
  }
}

.jumbotron {
  padding: 2rem 2rem;
}
