<div class="quadrinhos">

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="titulo">
          <h1>Quadrinhos</h1>
        </div>
      </div>
    </div>
    <form #form (ngSubmit)="submit(form)" novalidate>
      <input type="text" name="textoPesquisa" [(ngModel)]="textoPesquisa"> <button type="submit">AAAAAA</button> {{textoPesquisa}}
    </form>

    <app-paginacao (alterarPaginacao)="alterarPaginacao($event)"></app-paginacao>

    <div class="grid row" data-masonry='{ "itemSelector": ".quadrinho",  "isFitWidth": true  }'>
      <div (click)="visualizarPaginaDetalhes(quadrinho.id)" class="quadrinho col-sm-4" *ngFor="let quadrinho of quadrinhos">
        <div class="conteudo">
          <img [src]="quadrinho.urlImagem" class="img-fluid" />
          <h6>{{ quadrinho.title }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
