.PaginationWidget {

  padding: 20px 5px;

  > div {
    display: flex;
    justify-content: center;
  }

  .button-first-last,
  .page-button {
    display: inline-block;
    padding: 5px 10px;
    margin: 3px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .page-button {
    border: 2px solid black;

    &.selected {
      color: red;
    }

  }
  .page-description {
    display: block;
    text-align: center;
    font-size: .9em;
    color: gray;
  }
}
