<div class="container">
  <div class="quadrinhos">
      <div class="jumbotron">

      <div class="row">
        <div class="col">
          <div class="titulo"><h1>Quadrinhos</h1></div>
        </div>
      </div>
      <div class="grid row" >


       <!-- <pre> {{ quadrinhos|json }}</pre> -->
        <div (click)="navigate('quadrinho', quadrinho.id)" class="quadrinho col-sm-4" *ngFor="let quadrinho of quadrinhos">
          <div class="conteudo">
            <img [src]="quadrinho.urlImagem" class="img-fluid" />
            <h5>{{ quadrinho.title }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="personagens">
      <div class="jumbotron">

      <div class="row">
        <div class="col-sm-12">
          <div class="titulo"><h1>Personagens </h1></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" *ngFor="let personagem of personagens">
          <div  class="personagem " >
            <div class="conteudo">
              <img [src]="personagem.urlImagem"  class="img-fluid" />
              <div class="retina">
                <p>{{ personagem.name }}</p>
                <a ><span (click)="navigate('personagem', personagem.id)" >Veja mais</span></a>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
